# Ignore datasets and large files
datasets/

# Ignore temporary files
*.tmp
*.log

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
*.env

# Ignore wandb files
.wandb/
*.wandb
*.json

# Ignore additional files
logs/
*.csv
*.h5