# Ignore datasets and large files
datasets/
output/

# Ignore temporary files
*.tmp
*.log

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
*.env

# Ignore wandb files
.wandb/
*.wandb
*.json

# Ignore additional files
logs/
*.csv
*.h5
wandb/sweep-y8iidw9i/config-zmh126kv.yaml
wandb/sweep-y8iidw9i/config-z2fdx6mw.yaml
wandb/sweep-y8iidw9i/config-ym4006gy.yaml
wandb/sweep-y8iidw9i/config-yg6hzpdl.yaml
wandb/sweep-y8iidw9i/config-xtoywe85.yaml
wandb/sweep-y8iidw9i/config-xjovs5eh.yaml
wandb/sweep-y8iidw9i/config-wy8u6ehn.yaml
wandb/sweep-y8iidw9i/config-wq38i9qe.yaml
wandb/sweep-y8iidw9i/config-wmserfja.yaml
wandb/sweep-y8iidw9i/config-w46e0yai.yaml
wandb/sweep-y8iidw9i/config-w7nxmgts.yaml
wandb/sweep-y8iidw9i/config-vrnvb8gm.yaml
wandb/sweep-y8iidw9i/config-vqdzjggz.yaml
wandb/sweep-y8iidw9i/config-vjgw518i.yaml
wandb/sweep-y8iidw9i/config-vfsy2dou.yaml
wandb/sweep-y8iidw9i/config-unegr42w.yaml
wandb/sweep-y8iidw9i/config-udwoai71.yaml
wandb/sweep-y8iidw9i/config-tugg2mde.yaml
wandb/sweep-y8iidw9i/config-sfu5zcgu.yaml
wandb/sweep-y8iidw9i/config-s2qv3pdm.yaml
wandb/sweep-y8iidw9i/config-rr1t0h44.yaml
wandb/sweep-y8iidw9i/config-rkjpjej7.yaml
wandb/sweep-y8iidw9i/config-qqdq7g58.yaml
wandb/sweep-y8iidw9i/config-popggbqz.yaml
wandb/sweep-y8iidw9i/config-plzvfcb4.yaml
wandb/sweep-y8iidw9i/config-oxxb3ulo.yaml
wandb/sweep-y8iidw9i/config-osr1tjof.yaml
wandb/sweep-y8iidw9i/config-ocw1nd9p.yaml
wandb/sweep-y8iidw9i/config-o3iqhxxk.yaml
wandb/sweep-y8iidw9i/config-ngk6ch94.yaml
wandb/sweep-y8iidw9i/config-nfzyi136.yaml
wandb/sweep-y8iidw9i/config-na329uo4.yaml
wandb/sweep-y8iidw9i/config-n8zalsgj.yaml
wandb/sweep-y8iidw9i/config-mw5ht2ph.yaml
wandb/sweep-y8iidw9i/config-muy5b7no.yaml
wandb/sweep-y8iidw9i/config-m82tpbwt.yaml
wandb/sweep-y8iidw9i/config-m4vrhub8.yaml
wandb/sweep-y8iidw9i/config-lx9b76u8.yaml
wandb/sweep-y8iidw9i/config-lmwsh0tv.yaml
wandb/sweep-y8iidw9i/config-ldzummcp.yaml
wandb/sweep-y8iidw9i/config-ld49jfqt.yaml
wandb/sweep-y8iidw9i/config-kx9f713q.yaml
wandb/sweep-y8iidw9i/config-kan52ptz.yaml
wandb/sweep-y8iidw9i/config-jtk6lk6v.yaml
wandb/sweep-y8iidw9i/config-jew0t122.yaml
wandb/sweep-y8iidw9i/config-j9xofxul.yaml
wandb/sweep-y8iidw9i/config-iqh1cf9s.yaml
wandb/sweep-y8iidw9i/config-ioud4l6p.yaml
wandb/sweep-y8iidw9i/config-ij44ezx4.yaml
wandb/sweep-y8iidw9i/config-hcl4n4cu.yaml
wandb/sweep-y8iidw9i/config-gqjhuc11.yaml
wandb/sweep-y8iidw9i/config-gm8dy2ei.yaml
wandb/sweep-y8iidw9i/config-gkgkisjm.yaml
wandb/sweep-y8iidw9i/config-gjj7cxyp.yaml
wandb/sweep-y8iidw9i/config-gffvwbus.yaml
wandb/sweep-y8iidw9i/config-g68qsf7f.yaml
wandb/sweep-y8iidw9i/config-f60jdc56.yaml
wandb/sweep-y8iidw9i/config-ezm7h9tk.yaml
wandb/sweep-y8iidw9i/config-editbvhl.yaml
wandb/sweep-y8iidw9i/config-e4xiu5qy.yaml
wandb/sweep-y8iidw9i/config-dww3vfba.yaml
wandb/sweep-y8iidw9i/config-dsfhb8kq.yaml
wandb/sweep-y8iidw9i/config-dg8q2rc3.yaml
wandb/sweep-y8iidw9i/config-dab3mk40.yaml
wandb/sweep-y8iidw9i/config-cso77t7y.yaml
wandb/sweep-y8iidw9i/config-c8rr46uk.yaml
wandb/sweep-y8iidw9i/config-bw1xkf4f.yaml
wandb/sweep-y8iidw9i/config-brvpmsyq.yaml
wandb/sweep-y8iidw9i/config-bhu61mqj.yaml
wandb/sweep-y8iidw9i/config-bfcn6eu0.yaml
wandb/sweep-y8iidw9i/config-bbu1kddp.yaml
wandb/sweep-y8iidw9i/config-awedvhde.yaml
wandb/sweep-y8iidw9i/config-abu3y7k4.yaml
wandb/sweep-y8iidw9i/config-5792dubn.yaml
wandb/sweep-y8iidw9i/config-937qnjt1.yaml
wandb/sweep-y8iidw9i/config-709mtjvr.yaml
wandb/sweep-y8iidw9i/config-99dl4cnb.yaml
wandb/sweep-y8iidw9i/config-55dulhw3.yaml
wandb/sweep-y8iidw9i/config-46xf5fvg.yaml
wandb/sweep-y8iidw9i/config-37bpkfmq.yaml
wandb/sweep-y8iidw9i/config-9z5e2gt8.yaml
wandb/sweep-y8iidw9i/config-9u39kiob.yaml
wandb/sweep-y8iidw9i/config-8vax4rgu.yaml
wandb/sweep-y8iidw9i/config-8tqycps1.yaml
wandb/sweep-y8iidw9i/config-08kryno1.yaml
wandb/sweep-y8iidw9i/config-6zz1twh7.yaml
wandb/sweep-y8iidw9i/config-6rh3ifnb.yaml
wandb/sweep-y8iidw9i/config-6datqp4m.yaml
wandb/sweep-y8iidw9i/config-6c4gchfe.yaml
wandb/sweep-y8iidw9i/config-5xau7zmr.yaml
wandb/sweep-y8iidw9i/config-5m5ymugn.yaml
wandb/sweep-y8iidw9i/config-5jersrkc.yaml
wandb/sweep-y8iidw9i/config-4ejj7m4w.yaml
wandb/sweep-y8iidw9i/config-3co2jtrw.yaml
wandb/sweep-y8iidw9i/config-2swu1lck.yaml
wandb/sweep-y8iidw9i/config-2lai0uyc.yaml
wandb/sweep-y8iidw9i/config-1r5h5rla.yaml
wandb/sweep-y8iidw9i/config-0nlc0mu7.yaml
wandb/sweep-y8iidw9i/config-0f9lahpg.yaml
wandb/sweep-y8iidw9i/config-0c247pd2.yaml
wandb/sweep-pp8v6zil/config-rt1a6365.yaml
wandb/sweep-hb30dgpm/config-9aj0syjl.yaml
wandb/sweep-hb30dgpm/config-7sj7uy3q.yaml
wandb/sweep-62jhceh0/config-z1m7p7ao.yaml
wandb/sweep-62jhceh0/config-wcseb7gc.yaml
wandb/sweep-62jhceh0/config-t4oh2uaj.yaml
wandb/sweep-62jhceh0/config-qc4fp4sw.yaml
wandb/sweep-62jhceh0/config-jw5lax1g.yaml
wandb/sweep-62jhceh0/config-g9k7tnku.yaml
wandb/sweep-62jhceh0/config-dlh99aay.yaml
wandb/sweep-62jhceh0/config-cp2kt6ke.yaml
wandb/sweep-62jhceh0/config-7ipzmtwh.yaml
wandb/sweep-62jhceh0/config-4yashscg.yaml
wandb/run-20250425_215929-kan52ptz/files/requirements.txt
wandb/run-20250425_215929-kan52ptz/files/config.yaml
wandb/run-20250425_215729-dab3mk40/files/requirements.txt
wandb/run-20250425_215729-dab3mk40/files/config.yaml
wandb/run-20250425_215611-5xau7zmr/files/requirements.txt
wandb/run-20250425_215611-5xau7zmr/files/config.yaml
wandb/run-20250425_215417-oxxb3ulo/files/requirements.txt
wandb/run-20250425_215417-oxxb3ulo/files/config.yaml
wandb/run-20250425_215033-cso77t7y/files/requirements.txt
wandb/run-20250425_215033-cso77t7y/files/config.yaml
wandb/run-20250425_214920-tugg2mde/files/requirements.txt
wandb/run-20250425_214920-tugg2mde/files/config.yaml
wandb/run-20250425_214357-8vax4rgu/files/requirements.txt
wandb/run-20250425_214357-8vax4rgu/files/config.yaml
wandb/run-20250425_214051-lx9b76u8/files/requirements.txt
wandb/run-20250425_214051-lx9b76u8/files/config.yaml
wandb/run-20250425_213943-3co2jtrw/files/requirements.txt
wandb/run-20250425_213943-3co2jtrw/files/config.yaml
wandb/run-20250425_213533-9z5e2gt8/files/requirements.txt
wandb/run-20250425_213533-9z5e2gt8/files/config.yaml
wandb/run-20250425_213501-99dl4cnb/files/requirements.txt
wandb/run-20250425_213501-99dl4cnb/files/config.yaml
wandb/run-20250425_212627-937qnjt1/files/requirements.txt
wandb/run-20250425_212627-937qnjt1/files/config.yaml
wandb/run-20250425_211413-9u39kiob/files/requirements.txt
wandb/run-20250425_211413-9u39kiob/files/config.yaml
wandb/run-20250425_211326-osr1tjof/files/requirements.txt
wandb/run-20250425_211326-osr1tjof/files/config.yaml
wandb/run-20250425_211116-sfu5zcgu/files/requirements.txt
wandb/run-20250425_211116-sfu5zcgu/files/config.yaml
wandb/run-20250425_210901-yg6hzpdl/files/requirements.txt
wandb/run-20250425_210901-yg6hzpdl/files/config.yaml
wandb/run-20250425_210702-gjj7cxyp/files/requirements.txt
wandb/run-20250425_210702-gjj7cxyp/files/config.yaml
wandb/run-20250425_210032-ldzummcp/files/requirements.txt
wandb/run-20250425_210032-ldzummcp/files/config.yaml
wandb/run-20250425_205858-j9xofxul/files/requirements.txt
wandb/run-20250425_205858-j9xofxul/files/config.yaml
wandb/run-20250425_205832-bbu1kddp/files/requirements.txt
wandb/run-20250425_205832-bbu1kddp/files/config.yaml
wandb/run-20250425_205704-bhu61mqj/files/requirements.txt
wandb/run-20250425_205704-bhu61mqj/files/config.yaml
wandb/run-20250425_205632-gm8dy2ei/files/requirements.txt
wandb/run-20250425_205632-gm8dy2ei/files/config.yaml
wandb/run-20250425_205024-hcl4n4cu/files/requirements.txt
wandb/run-20250425_205024-hcl4n4cu/files/config.yaml
wandb/run-20250425_204736-m4vrhub8/files/requirements.txt
wandb/run-20250425_204736-m4vrhub8/files/config.yaml
wandb/run-20250425_204644-rkjpjej7/files/requirements.txt
wandb/run-20250425_204644-rkjpjej7/files/config.yaml
wandb/run-20250425_204608-lmwsh0tv/files/requirements.txt
wandb/run-20250425_204608-lmwsh0tv/files/config.yaml
wandb/run-20250425_204424-f60jdc56/files/requirements.txt
wandb/run-20250425_204424-f60jdc56/files/config.yaml
wandb/run-20250425_204316-0nlc0mu7/files/requirements.txt
wandb/run-20250425_204316-0nlc0mu7/files/config.yaml
wandb/run-20250425_204127-muy5b7no/files/requirements.txt
wandb/run-20250425_204127-muy5b7no/files/config.yaml
wandb/run-20250425_204029-zmh126kv/files/requirements.txt
wandb/run-20250425_204029-zmh126kv/files/config.yaml
wandb/run-20250425_203952-popggbqz/files/requirements.txt
wandb/run-20250425_203952-popggbqz/files/config.yaml
wandb/run-20250425_203851-ij44ezx4/files/requirements.txt
wandb/run-20250425_203851-ij44ezx4/files/config.yaml
wandb/run-20250425_203549-xtoywe85/files/requirements.txt
wandb/run-20250425_203549-xtoywe85/files/config.yaml
wandb/run-20250425_203216-abu3y7k4/files/requirements.txt
wandb/run-20250425_203216-abu3y7k4/files/config.yaml
wandb/run-20250425_203103-n8zalsgj/files/requirements.txt
wandb/run-20250425_203103-n8zalsgj/files/config.yaml
wandb/run-20250425_202854-vjgw518i/files/requirements.txt
wandb/run-20250425_202854-vjgw518i/files/config.yaml
wandb/run-20250425_202746-gqjhuc11/files/requirements.txt
wandb/run-20250425_202746-gqjhuc11/files/config.yaml
wandb/run-20250425_202357-8tqycps1/files/requirements.txt
wandb/run-20250425_202357-8tqycps1/files/config.yaml
wandb/run-20250425_202233-gffvwbus/files/requirements.txt
wandb/run-20250425_202233-gffvwbus/files/config.yaml
wandb/run-20250425_201528-ld49jfqt/files/requirements.txt
wandb/run-20250425_201528-ld49jfqt/files/config.yaml
wandb/run-20250425_201046-08kryno1/files/requirements.txt
wandb/run-20250425_201046-08kryno1/files/config.yaml
wandb/run-20250425_201004-37bpkfmq/files/requirements.txt
wandb/run-20250425_201004-37bpkfmq/files/config.yaml
wandb/run-20250425_200739-bw1xkf4f/files/requirements.txt
wandb/run-20250425_200739-bw1xkf4f/files/config.yaml
wandb/run-20250425_200554-m82tpbwt/files/requirements.txt
wandb/run-20250425_200554-m82tpbwt/files/config.yaml
wandb/run-20250425_200437-qqdq7g58/files/requirements.txt
wandb/run-20250425_200437-qqdq7g58/files/config.yaml
wandb/run-20250425_200037-0c247pd2/files/requirements.txt
wandb/run-20250425_200037-0c247pd2/files/config.yaml
wandb/run-20250425_195935-z2fdx6mw/files/requirements.txt
wandb/run-20250425_195935-z2fdx6mw/files/config.yaml
wandb/run-20250425_195842-vfsy2dou/files/requirements.txt
wandb/run-20250425_195842-vfsy2dou/files/config.yaml
wandb/run-20250425_195720-46xf5fvg/files/requirements.txt
wandb/run-20250425_195720-46xf5fvg/files/config.yaml
wandb/run-20250425_195320-wy8u6ehn/files/requirements.txt
wandb/run-20250425_195320-wy8u6ehn/files/config.yaml
wandb/run-20250425_195233-iqh1cf9s/files/requirements.txt
wandb/run-20250425_195233-iqh1cf9s/files/config.yaml
wandb/run-20250425_195115-na329uo4/files/requirements.txt
wandb/run-20250425_195115-na329uo4/files/config.yaml
wandb/run-20250425_194726-vrnvb8gm/files/requirements.txt
wandb/run-20250425_194726-vrnvb8gm/files/config.yaml
wandb/run-20250425_194639-4ejj7m4w/files/requirements.txt
wandb/run-20250425_194639-4ejj7m4w/files/config.yaml
wandb/run-20250425_194041-6zz1twh7/files/requirements.txt
wandb/run-20250425_194041-6zz1twh7/files/config.yaml
wandb/run-20250425_194010-w46e0yai/files/requirements.txt
wandb/run-20250425_194010-w46e0yai/files/config.yaml
wandb/run-20250425_193610-plzvfcb4/files/requirements.txt
wandb/run-20250425_193610-plzvfcb4/files/config.yaml
wandb/run-20250425_193534-ioud4l6p/files/requirements.txt
wandb/run-20250425_193534-ioud4l6p/files/config.yaml
wandb/run-20250425_193333-1r5h5rla/files/requirements.txt
wandb/run-20250425_193333-1r5h5rla/files/config.yaml
wandb/run-20250425_192811-mw5ht2ph/files/requirements.txt
wandb/run-20250425_192811-mw5ht2ph/files/config.yaml
wandb/run-20250425_192648-ezm7h9tk/files/requirements.txt
wandb/run-20250425_192648-ezm7h9tk/files/config.yaml
wandb/run-20250425_191558-g68qsf7f/files/requirements.txt
wandb/run-20250425_191558-g68qsf7f/files/config.yaml
wandb/run-20250425_191358-5792dubn/files/requirements.txt
wandb/run-20250425_191358-5792dubn/files/config.yaml
wandb/run-20250425_191240-ocw1nd9p/files/requirements.txt
wandb/run-20250425_191240-ocw1nd9p/files/config.yaml
wandb/run-20250425_190804-dg8q2rc3/files/requirements.txt
wandb/run-20250425_190804-dg8q2rc3/files/config.yaml
wandb/run-20250425_190512-bfcn6eu0/files/requirements.txt
wandb/run-20250425_190512-bfcn6eu0/files/config.yaml
wandb/run-20250425_190420-2swu1lck/files/requirements.txt
wandb/run-20250425_190420-2swu1lck/files/config.yaml
wandb/run-20250425_190344-nfzyi136/files/requirements.txt
wandb/run-20250425_190344-nfzyi136/files/config.yaml
wandb/run-20250425_190302-gkgkisjm/files/requirements.txt
wandb/run-20250425_190302-gkgkisjm/files/config.yaml
wandb/run-20250425_190041-editbvhl/files/requirements.txt
wandb/run-20250425_190041-editbvhl/files/config.yaml
wandb/run-20250425_190015-brvpmsyq/files/requirements.txt
wandb/run-20250425_190015-brvpmsyq/files/config.yaml
wandb/run-20250425_185846-vqdzjggz/files/requirements.txt
wandb/run-20250425_185846-vqdzjggz/files/config.yaml
wandb/run-20250425_185417-udwoai71/files/requirements.txt
wandb/run-20250425_185417-udwoai71/files/config.yaml
wandb/run-20250425_185119-709mtjvr/files/requirements.txt
wandb/run-20250425_185119-709mtjvr/files/config.yaml
wandb/run-20250425_184832-6c4gchfe/files/requirements.txt
wandb/run-20250425_184832-6c4gchfe/files/config.yaml
wandb/run-20250425_184801-kx9f713q/files/requirements.txt
wandb/run-20250425_184801-kx9f713q/files/config.yaml
wandb/run-20250425_184223-o3iqhxxk/files/requirements.txt
wandb/run-20250425_184223-o3iqhxxk/files/config.yaml
wandb/run-20250425_184105-s2qv3pdm/files/requirements.txt
wandb/run-20250425_184105-s2qv3pdm/files/config.yaml
wandb/run-20250425_183952-unegr42w/files/requirements.txt
wandb/run-20250425_183952-unegr42w/files/config.yaml
wandb/run-20250425_183844-jtk6lk6v/files/requirements.txt
wandb/run-20250425_183844-jtk6lk6v/files/config.yaml
wandb/run-20250425_183049-dww3vfba/files/requirements.txt
wandb/run-20250425_183049-dww3vfba/files/config.yaml
wandb/run-20250425_182916-5m5ymugn/files/requirements.txt
wandb/run-20250425_182916-5m5ymugn/files/config.yaml
wandb/run-20250425_182604-0f9lahpg/files/requirements.txt
wandb/run-20250425_182604-0f9lahpg/files/config.yaml
wandb/run-20250425_182353-xjovs5eh/files/requirements.txt
wandb/run-20250425_182353-xjovs5eh/files/config.yaml
wandb/run-20250425_181658-ym4006gy/files/requirements.txt
wandb/run-20250425_181658-ym4006gy/files/config.yaml
wandb/run-20250425_181555-5jersrkc/files/requirements.txt
wandb/run-20250425_181555-5jersrkc/files/config.yaml
wandb/run-20250425_181508-e4xiu5qy/files/requirements.txt
wandb/run-20250425_181508-e4xiu5qy/files/config.yaml
wandb/run-20250425_180330-w7nxmgts/files/requirements.txt
wandb/run-20250425_180330-w7nxmgts/files/config.yaml
wandb/run-20250425_180131-wq38i9qe/files/requirements.txt
wandb/run-20250425_180131-wq38i9qe/files/config.yaml
wandb/run-20250425_175628-ngk6ch94/files/requirements.txt
wandb/run-20250425_175628-ngk6ch94/files/config.yaml
wandb/run-20250425_175101-awedvhde/files/requirements.txt
wandb/run-20250425_175101-awedvhde/files/config.yaml
wandb/run-20250425_174916-c8rr46uk/files/requirements.txt
wandb/run-20250425_174916-c8rr46uk/files/config.yaml
wandb/run-20250425_174839-wmserfja/files/requirements.txt
wandb/run-20250425_174839-wmserfja/files/config.yaml
wandb/run-20250425_174542-rr1t0h44/files/requirements.txt
wandb/run-20250425_174542-rr1t0h44/files/config.yaml
wandb/run-20250425_174444-55dulhw3/files/requirements.txt
wandb/run-20250425_174444-55dulhw3/files/config.yaml
wandb/run-20250425_174305-6rh3ifnb/files/requirements.txt
wandb/run-20250425_174305-6rh3ifnb/files/config.yaml
wandb/run-20250425_174208-dsfhb8kq/files/requirements.txt
wandb/run-20250425_174208-dsfhb8kq/files/config.yaml
wandb/run-20250425_174055-2lai0uyc/files/requirements.txt
wandb/run-20250425_174055-2lai0uyc/files/config.yaml
wandb/run-20250425_173758-jew0t122/files/requirements.txt
wandb/run-20250425_173758-jew0t122/files/config.yaml
wandb/run-20250425_173656-6datqp4m/files/requirements.txt
wandb/run-20250425_173656-6datqp4m/files/config.yaml
wandb/run-20250425_172433-t4oh2uaj/files/requirements.txt
wandb/run-20250425_172433-t4oh2uaj/files/config.yaml
wandb/run-20250425_172121-qc4fp4sw/files/requirements.txt
wandb/run-20250425_172121-qc4fp4sw/files/config.yaml
wandb/run-20250425_172039-4yashscg/files/requirements.txt
wandb/run-20250425_172039-4yashscg/files/config.yaml
wandb/run-20250425_171931-g9k7tnku/files/requirements.txt
wandb/run-20250425_171931-g9k7tnku/files/config.yaml
wandb/run-20250425_170724-wcseb7gc/files/requirements.txt
wandb/run-20250425_170724-wcseb7gc/files/config.yaml
wandb/run-20250425_165731-cp2kt6ke/files/requirements.txt
wandb/run-20250425_165731-cp2kt6ke/files/config.yaml
wandb/run-20250425_165617-jw5lax1g/files/requirements.txt
wandb/run-20250425_165617-jw5lax1g/files/config.yaml
wandb/run-20250425_165546-z1m7p7ao/files/requirements.txt
wandb/run-20250425_165546-z1m7p7ao/files/config.yaml
wandb/run-20250425_165514-dlh99aay/files/requirements.txt
wandb/run-20250425_165514-dlh99aay/files/config.yaml
wandb/run-20250425_165340-7ipzmtwh/files/requirements.txt
wandb/run-20250425_165340-7ipzmtwh/files/config.yaml
wandb/run-20250425_165157-rt1a6365/files/requirements.txt
wandb/run-20250425_164652-7sj7uy3q/files/requirements.txt
wandb/run-20250425_164652-7sj7uy3q/files/config.yaml
wandb/run-20250425_164647-9aj0syjl/files/requirements.txt
wandb/run-20250425_164647-9aj0syjl/files/config.yaml
wandb/run-20250425_164155-5bppw9t2/files/requirements.txt
wandb/run-20250425_164155-5bppw9t2/files/config.yaml
wandb/latest-run
