annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
apafib==0.1.14
bio==1.6.2
biopython==1.85
biothings_client==0.4.1
captum==0.8.0
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
colour==0.1.5
contourpy==1.3.0
cycler==0.12.1
docker-pycreds==0.4.0
docopt==0.6.2
doxypypy==0.8.8.7
dtreeviz==2.2.2
et_xmlfile==2.0.0
eval_type_backport==0.2.2
exceptiongroup==1.2.2
filelock==3.18.0
fonttools==4.57.0
fsspec==2025.3.2
ftpretty==0.4.0
gitdb==4.0.12
GitPython==3.1.44
goatools==1.4.12
gprofiler-official==1.0.0
h11==0.14.0
httpcore==1.0.8
httpx==0.28.1
hydra-core==1.3.2
idna==3.10
imbalanced-learn==0.11.0
imblearn==0.0
importlib_resources==6.5.2
iniconfig==2.1.0
install==1.3.5
Jinja2==3.1.6
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1748019130050/work
kiwisolver==1.4.7
lightgbm @ file:///home/conda/feedstock_root/build_artifacts/liblightgbm_1742951514774/work
llvmlite==0.43.0
loremipsum==1.0.5
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
mdurl==0.1.2
missingno==0.5.2
mpmath==1.3.0
mygene==3.2.2
networkx==3.2.1
numba==0.60.0
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1687808406210/work
omegaconf==2.3.0
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
patsy==1.0.1
pillow==11.2.1
platformdirs==4.3.7
pluggy==1.6.0
pmlb==1.0.1.post3
pooch==1.8.2
protobuf==6.31.1
psutil==7.0.0
pyaml==23.9.7
pydantic==2.11.5
pydantic_core==2.33.2
pydot==3.0.4
Pygments==2.19.1
pyparsing==3.2.3
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.1
remotezip==0.12.1
requests==2.32.3
rich==14.0.0
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1736496810767/work/dist/scikit_learn-1.6.1-cp39-cp39-macosx_10_13_x86_64.whl#sha256=64cd073cbe101fa1cfe79db02aeb4cc190e0d0d8c61fc6d1479e4f405a331dac
scikit-optimize==0.9.0
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1716470285601/work/dist/scipy-1.13.1-cp39-cp39-macosx_10_13_x86_64.whl#sha256=c9dd6de2b24ca5604e6e5444642497657db2f4e882c088c0d710addb7781a300
sentry-sdk==2.29.1
setproctitle==1.3.6
shap==0.47.2
six==1.17.0
slicer==0.0.8
smmap==5.0.2
sniffio==1.3.1
statsmodels==0.14.4
sympy==1.13.3
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tomli==2.2.1
torch==2.2.2
torchinfo==1.8.0
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
wandb==0.19.11
wget==3.2
xgboost @ file:///Users/runner/miniforge3/conda-bld/xgboost-split_1703076406455/work/python-package
XlsxWriter==3.2.3
yellowbrick==1.5
zipp==3.21.0
